[submodule "firefox"]
	path = firefox
	url = git@github.com:westonsteimel/docker-firefox.git
[submodule "stellarium"]
	path = stellarium
	url = git@github.com:westonsteimel/docker-stellarium.git
[submodule "celestia"]
	path = celestia
	url = git@github.com:westonsteimel/docker-celestia.git
