[submodule "firefox"]
	path = firefox
	url = git@github.com:westonsteimel/docker-firefox.git
[submodule "stellarium"]
	path = stellarium
	url = git@github.com:westonsteimel/docker-stellarium.git
[submodule "celestia"]
	path = celestia
	url = git@github.com:westonsteimel/docker-celestia.git
[submodule "curl"]
	path = curl
	url = git@github.com:westonsteimel/docker-curl.git
[submodule "cmatrix"]
	path = cmatrix
	url = git@github.com:westonsteimel/docker-cmatrix.git
[submodule "keepassxc"]
	path = keepassxc
	url = git@github.com:westonsteimel/docker-keepassxc.git
[submodule "ledger"]
	path = ledger
	url = git@github.com:westonsteimel/docker-ledger.git
[submodule "bcc-tools"]
	path = bcc-tools
	url = git@github.com:westonsteimel/docker-bcc.git
[submodule "kube-hunter"]
	path = kube-hunter
	url = git@github.com:westonsteimel/docker-kube-hunter.git
[submodule "httpie"]
	path = httpie
	url = git@github.com:westonsteimel/docker-httpie.git
[submodule "youtube-dl"]
	path = youtube-dl
	url = git@github.com:westonsteimel/docker-youtube-dl.git
